{:paths ["src" "resources"]
 
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.csv {:mvn/version "1.1.0"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        org.clojars.huahaiy/datalevin-native {:mvn/version "0.9.1"}
        org.babashka/http-client {:mvn/version "0.4.19"}
        http-kit/http-kit {:mvn/version "2.5.3"}
        compojure/compojure {:mvn/version "1.6.2"}
        ring/ring-core {:mvn/version "1.9.4"}
        com.brunobonacci/mulog {:mvn/version "0.9.0"}
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}
        org.apache.tika/tika-core {:mvn/version "2.8.0"}
        org.apache.tika/tika-parsers-standard-package {:mvn/version "2.8.0"}
        arachne-framework/aristotle {:git/url "https://github.com/arachne-framework/aristotle" :git/sha "d7ee879945e0060dc5fcd0b8eac2e0e476d066d7"}
        metosin/malli {:mvn/version "0.18.0"}
        io.github.swirrl/csv2rdf {:git/url "https://github.com/Swirrl/csv2rdf.git"
                                   :git/tag "v0.7.1"
                                   :git/sha "a814243"}
        org.sagebionetworks/synapseJavaClient {:mvn/version "500.0"
                                               :repos ["sagebionetworks-artifactory"]}}
 
 :mvn/repos {"sagebionetworks-artifactory" {:url "https://sagebionetworks.jfrog.io/artifactory/libs-releases-local/"}}

 :aliases
 {:run {:main-opts ["-m" "accent.app"]}
  
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:jar "target/accent.jar"
                        :aot true
                        :main-class accent.app}}
  
  :native-image {:jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                            "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}}
  
 :license {:name "EPL-2.0 OR GPL-2.0-or-later WITH Classpath-exception-2.0"
           :url "https://www.eclipse.org/legal/epl-2.0/"}
 
 :description "FIXME: write description"
 :url "http://example.com/FIXME"
 :version "0.5.0"}