{:tools false
 :db-env :prod
 :init-model-provider "OpenAI" ;; or "Anthropic"

;; System environment variables will be checked first,
;; hence credentials are OPTIONALLY set in this config;
;; uncomment below to do so -- values in config override System env.
;; Currently, must have access to Synapse and at least one model provider.

;; :synapse-auth-token "i<3fa1rd@ta" ;; or set SYNAPSE_AUTH_TOKEN
;; :openai-api-key "sk-xxx" ;; or set OPENAI_API_KEY
;; :anthropic-api-key "hi-claude" ;; or set ANTHROPIC_API_KEY

}
